{{# each products }}
<div class="card-group">

  {{# each this}}
    <div class="card col-sm-6 col-md-4">
        <img class="card-img-top img-responsive" height="150" src="{{this.image_path}}" alt="Card image cap">
        <div class="card-block">
            <h4 class="card-title">{{this.title}}</h4>
            <p class="card-text text-muted">{{ this.description }}</p>
            <div class="">
                <div class="price float-left">{{ this.price }} $</div>
                <a href="#" class="btn btn-primary float-right">Add To Cart</a>
            </div>
        </div>
    </div>
  {{/ each}}

</div>
{{/each}}
